@font-face {
  font-family: 'Open Sans';
  src:url("fonts/Open-Sans/OpenSans-Regular.ttf");
}

@font-face {
  font-family: 'Open Sans';
  src:url("fonts/Open-Sans/OpenSans-SemiBold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: 'Open Sans';
  src:url("fonts/Open-Sans/OpenSans-RegularItalic.ttf");
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src:url("fonts/Open-Sans/OpenSans-SemiBoldItalic.ttf");
  font-weight: bold;
  font-style: italic;
}

body {
  font-family: 'Open Sans', 'Serif';
  background-color: #f5f6f6;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #f1f1f1;
  overflow: hidden;
}

li a {
  display: block;
  color: #000000;
  padding: 8px 16px;
  text-decoration: none;
  float: left;
}

li a:hover {
  background-color: #555;
  color: #ffffff;
}

.active {

}
