{% if page.latex %}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.13.18/dist/katex.min.css" integrity="sha384-zTROYFVGOfTw7JV7KUu8udsvW2fx4lWOsCEDqhBreBwlHI4ioVRtmIvEThzJHGET" crossorigin="anonymous">
{% endif %}

{% for style in page.styles %}
  <link rel="stylesheet" href="/assets/css/{{ style }}" />
{% endfor %}

<link rel="dns-prefetch" href="https://cdnjs.cloudflare.com" />
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>

<link rel="dns-prefetch" href="https://fonts.googleapis.com" />

<link rel="stylesheet" type="text/css" href="/assets/css/common.css" />
