<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>

<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
<meta name="theme-color" content="hsl(359.6, 59%, 54%)" />

{% comment %} Make rss etc. auto-discoverable {% endcomment %}
{% feed_meta %}

<!-- Search engines -->
{% comment %} Adds SEO properly {% endcomment %}
{% seo title=false %}

<meta name="keywords" content="{{ site.keywords | join: ", " }}" />

<meta name="twitter:creator" content="{{ site.social_links.twitter }}" />
<meta name="twitter:description" content="{{ site.desciption }}" />
<meta name="yandex-verification" content="ab1e6cab6e467868" />
