<meta charset="utf-8" />
<title>{%- if page.title -%}{{ page.title }} &ndash; {%- endif -%}{{ site.title }}</title>
<link rel="stylesheet" type="text/css" href="/assets/css/common.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{%- if page.mathjax -%}
{% include mathJax.html %}
{%- endif -%}
{% for sheet in page.css %}
<link rel="stylesheet" href="/assets/css/{{ sheet }}">
{% endfor %}
