<!-- Mobile style navigation -->
<nav class="page-navigation">
  <div class="modal">
    <ul class="modal-content">
      {% for item in site.data.navigation.pages %}
        <li class="nav-item">
          <a href="{{ item.link }}"> {{- item.name -}} </a>
        </li>
      {% endfor %}
    </ul>
  </div>
  <button class="toggle-container" aria-expanded="false" aria-controls="menu">
    <span class="hamburger"></span>
  </button>
</nav>

<script type="text/javascript" src="/assets/js/nav.js" defer></script>
