<!-- Have a look at -->
<!-- https://sass-lang.com/documentation/at-rules/mixin -->
<!-- For an example of how asides are used -->
{% case include.type %}
  {% when 'info' %}
    <aside markdown="span" class="alert info" role="alert">
      <h3><i class="fa fa-info-circle"></i>Info: </h3>
      {{ include.content }}
    </aside>
  {% when 'danger' %}
    <aside markdown="span" class="alert danger" role="alert">
      <h3><i class="fa fa-exclamation-circle"></i>Warning: </h3>
      {{ include.content }}
    </aside>
  {% else %}
    <aside markdown="span" class="alert" role="alert">
      {{ include.content }}

    </aside>
{% endcase %}
