// Accent colours
$red: hsl(345, 46%, 44%);
$orange: hsl(28, 75%, 42%);
$yellow: hsl(43, 83%, 40%);
$green: hsl(155, 48%, 44%);
$cyan: hsl(188, 56%, 42%);
$blue: hsl(204, 58%, 44%);
$violet: hsl(228, 37%, 54%);
$magenta: hsl(340, 26%, 52%);
$white: hsl(320, 0%, 81%);

// Page colours
$dark-background-primary: hsl(320, 4%, 16%);
$dark-background-secondary: hsl(320, 4%, 22%);
$dark-text-primary: hsl(320, 4%, 87%);
$dark-text-secondary: hsl(320, 4%, 70%);

$dark-text-hyperlink: hsl(188, 49.8%, 60%);

$light-background-primary: hsl(320, 0%, 99%);
$light-background-secondary: hsl(320, 0%, 87%);
$light-text-primary: hsl(320, 4%, 16%);
$light-text-secondary: hsl(320, 0%, 49%);

$light-text-hyperlink: hsl(233, 57%, 47%);

// Organise themings
$primary1: $red;
$primary2: $violet;
$primary3: $blue;
$secondary1: $cyan;
$secondary2: $magenta;
$tertiary1: $yellow;
$tertiary2: $green;
$tertiary3: $orange;

:root {
  /* Light mode: */
  --color-mode: "light"; // Not currently needed, JS export

  --background-primary: #{$light-background-primary};
  --background-secondary: #{$light-background-secondary};

  --text-primary: #{$light-text-primary};
  --text-secondary: #{$light-text-secondary};
  --text-hyperlink: #{$light-text-hyperlink};
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-mode: "dark"; // Not currently needed, JS export

    --background-primary: #{$dark-background-primary};
    --background-secondary: #{$dark-background-secondary};

    --text-primary: #{$dark-text-primary};
    --text-secondary: #{$dark-text-secondary};
    --text-hyperlink: #{$dark-text-hyperlink};
  }
}
