//TODO: Consider moving to only system fonts
//TODO: Consider moving to 2 fonts only

// Main font
@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
$font-main: Ubuntu, serif;

// Headings
$font-heading: $font-main; //-apple-system, Noto Sans, Helvetica, Calibri, Arial, serif; //'Roboto Slab', 'serif';

// Code
@import url("https://fonts.googleapis.com/css2?family=Recursive:CRSV,MONO@1,1&display=swap");
$font-mono: Recursive, Liberation Mono, Menlo, Consolas, Monospace;
