//TODO: Consider moving to only system fonts
//TODO: Consider moving to 2 fonts only

// Main font
@import url('https://fonts.googleapis.com/css2?family=PT+Mono&family=Roboto+Slab&family=Ubuntu&display=swap');

$font-main: Ubuntu, -apple-system, Noto Sans, Helvetica, serif;
$font-heading: 'Roboto Slab', Ubuntu, -apple-system, Noto Sans, Helvetica, serif;
$font-mono: "PT Mono", Liberation Mono, Menlo, Consolas, Monospace;

:root {
  --font-main: #{$font-main};
  --font-heading: #{$font-heading};
  --font-mono: #{$font-mono};
}

html {
  font-size: 16px;
}
