/*region font*/
@font-face {
	font-family: 'Open Sans';
	src: url("../fonts/Open-Sans/OpenSans-Regular.ttf");
	font-weight: 400;
	font-style: normal;
	font-display: fallback;
}
@font-face {
	font-family: 'Open Sans';
	src: url("../fonts/Open-Sans/OpenSans-SemiBold.ttf");
	font-weight: 700;
	font-style: normal;
	font-display: fallback;
}
@font-face {
	font-family: 'Open Sans';
	src: url("../fonts/Open-Sans/OpenSans-RegularItalic.ttf");
	font-weight: 400;
	font-style: italic;
	font-display: fallback;
}
@font-face {
	font-family: 'Open Sans';
	src: url("../fonts/Open-Sans/OpenSans-SemiBoldItalic.ttf");
	font-weight: 400;
	font-style: 700;
	font-display: fallback;
}
/* Roboto Slab */
@font-face {
	font-family: 'Roboto Slab';
	src: url("../fonts/Roboto-Slab/RobotoSlab-Regular.ttf");
	font-weight: 400;
	font-style: normal;
	font-display: fallback;
}
@font-face {
	font-family: 'Roboto Slab';
	src: url("../fonts/Roboto-Slab/RobotoSlab-Bold.ttf");
	font-weight: 400;
	font-style: normal;
	font-display: fallback;
}

$font-main: 'Open Sans', 'Serif';
$font-heading: Roboto Slab, serif;
