.hero-container {
	height: 30%;
}

.hero-image {
	background: rgb(67, 0, 101);
	background: linear-gradient(90deg, rgb(67, 0, 101) 0%, rgb(179, 0, 0) 100%);
	background-image: url("../img/hero.webp");
	background-image: url("../img/hero.jpg");
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	display: block;
}

.hero-text {
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: $color_3;
	margin: 0;
	h1 {
		margin: 10px 0;
		color: $color_3;
		border: 0;
	}
	button {
		outline: 0;
		display: inline-block;
		padding: 10px 25px;
		color: $color_3;
		cursor: pointer;
		text-align: center;
		border-width: 1px;
		border-radius: 2px;
		border-style: solid;
		background-color: $background_color_2;
		background: inherit;
		overflow: hidden;
		transition: background-color 0.1s ease-out;
		&:hover {
			&::before {
				content: "";
				background: inherit;
				filter: blur(5px);
			}
			background-color: $background_color_3;
		}
	}
}

hr {
	margin: 0;
}
