.page-navigation {
  // Aesthetics
  list-style-type: none;
  padding: 0;
  margin: 0;
  z-index: 1;

  a {
    color: white;
    text-decoration: none;
  }
}

.toggle-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 16px;
  right: 16px;
  width: 64px;
  height: 64px;

  z-index: 5;
  &:link,
  &:visited {
    color: white;
    font-size: 2.5em;
  }
}

.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;

  text-align: center;
  font-size: 3em;

  background-color: var(--background-secondary);

  opacity: 0;
  visibility: hidden;

  transition: all ease-in-out 0.2s;

  &.active {
    opacity: 1;
    visibility: visible;
  }
}

.modal-content {
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;

  a {
    display: block;
    width: inherit;
  }
}

.toggle-container {
  border: none;
  cursor: pointer;
  background-color: inherit;
}

.hamburger {
  background-color: var(--text-primary);
  transition: background 0s 0.2s;
  border-radius: 50px;
  display: block;
  height: 8px;
  position: absolute;
  width: inherit;

  &::before,
  &::after {
    content: "";
    background-color: var(--text-primary);
    border-radius: 50px;
    display: block;
    height: 8px;
    left: 0;
    position: absolute;
    width: 100%;
  }
}

.hamburger::before {
  top: -20px;
}

.hamburger::after {
  bottom: -20px;
}

.nav-item > a:visited,
.nav-item > a:link {
  color: white;
}
