*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  box-sizing: border-box;
}

body {
  font-family: var(--font-main);
  line-height: 1.6;
  text-align: left;
  text-rendering: optimizeLegibility;
  font-feature-settings: "kern";
  font-kerning: normal;
  word-wrap: break-word;
  overflow-wrap: break-word;
  background-color: var(--background-primary);
  color: var(--text-primary);
  padding: 0;
  margin: 0;

  // Sticky footer
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 100vh;
}

.page-footer {
  margin-top: auto; // Push to bottom of page
  background: var(--background-secondary);
  color: var(--text-primary);
  padding: 20px;
  font-size: 88%;

  display: flex;
  flex-direction: row;
  justify-content: center;

  ul {
    display: flex;
    flex-flow: column wrap;
    padding: 0;
    margin: 0;
    justify-items: center;
    list-style-type: none;
  }

  li {
    text-align: center;
    padding: 5px;
  }
}

/* Code */
tt,
pre,
code {
  font-family: var(--font-mono);
  font-size: 0.95em;
}


// Figures
// e.g. Image figures, listing figures etc.
figure {
  border-radius: 5px;
  padding: 10px;
  margin: 1em 0;
  background-color: var(--background-secondary);
}

figcaption {
  margin-top: 3px;
}

// Fig. counter
body {
  counter-reset: figNumber;
}

figure.figure {
  counter-increment: figNumber;

  figcaption::before {
    content: 'Fig. ' counter(figNumber) ': ';
  }
}

// Set unspecifed images to be 100% wide
figure img,
img:not([class]) {
  width: 100%;
}

a {

  &:link,
  &:visited {
    color: var(--text-hyperlink);
  }

  &:not(:hover) {
    text-decoration: none;
  }

  &:hover {
    text-decoration: underline;
  }

  [href^="mailto"]::before {
    content: "📧";
  }

  [href^="tel"]::before {
    content: "📞";
  }
}

ul[class],
ol[class] {
  list-style: none;
}

strong {
  color: var(--text-primary);
  font-weight: bolder;
}

p,
ul {
  color: var(--text-secondary);
}

/* Don't show animations if they've asked for that */
@media (prefers-reduced-motion: reduce) {
  body {
    scroll-behavior: auto;
  }

  * {
    -webkit-animation: none !important;
    animation: none !important;
    transition: none !important;
  }
}