blockquote {
  border-left: 0.5em solid var(--background-secondary);
  color: var(--text-secondary);
  padding: 0.5em 0px 0.5em 1.5em;
  margin: 0;
}

// KaTeX
*[mathvariant="bold"] {
  font-weight: bold;
}

.astro-code{
  padding: 1em 2em;
  border-radius: 5px;
}

pre {
  white-space: pre-wrap;
}

abbr {
  text-decoration: var(--accent-4) wavy underline;
}

// TODO: Get better selector, lookup remark docs for footnote
article sup>a {
  &:after {
    content: "]";
    color: inherit;
  }

  &:before {
    content: "[";
    color: inherit;
  }
}