blockquote {
  border-left: 0.5em solid var(--background-secondary);
  color: var(--text-secondary);
  padding: 0.5em 0px 0.5em 1.5em;
  margin: 0;
}

// KaTeX
*[mathvariant="bold"] {
  font-weight: bold;
}

.astro-code {
  padding: 1em 2em 1em 0.5em;
  border-radius: 5px;

  counter-reset: linenumber;
  counter-increment: linenumber calc(var(--line-start, 1) - 1);

  .line {
    counter-increment: linenumber;

    &::before {
      content: counter(linenumber);
      color: rgba(255, 255, 255, 0.322);
      width: 2rem;
      margin-right: 1.5rem;
      display: inline-block;
      text-align: right;
    }
  }
}

pre {
  white-space: pre-wrap;
}

abbr {
  text-decoration: var(--accent-4) wavy underline;
}

// TODO: Get better selector, lookup remark docs for footnote
article sup>a {
  &:after {
    content: "]";
    color: inherit;
  }

  &:before {
    content: "[";
    color: inherit;
  }
}

.footnotes {
  li {
    font-size: 0.8em;
  }
}
