blockquote {
  border-left: 0.5rem solid var(--background-secondary);
  color: var(--text-secondary);
  padding: 0.5rem 0px 0.5rem 1.5rem;
  margin: 0;
}

// KaTeX
*[mathvariant="bold"] {
  font-weight: bold;
}

.astro-code {
  padding: 1rem 2rem 1rem 0.5rem;
  border-radius: 5px;

  counter-reset: linenumber;
  counter-increment: linenumber calc(var(--line-start, 1) - 1);

  .line {
    counter-increment: linenumber;

    &::before {
      content: counter(linenumber);
      color: rgba(255, 255, 255, 0.322);
      width: 2rem;
      margin-right: 1.5rem;
      display: inline-block;
      text-align: right;
    }
  }
}

pre {
  white-space: pre-wrap;
}

abbr {
  text-decoration: var(--accent-4) wavy underline;
}

article {

  h1,
  h2 {
    margin-bottom: 0;
  }

  header p {
    margin-top: 0;
  }

  p {
    margin-top: 1rem;
  }

  h1+p,
  h2+p,
  h3+p,
  h4+p,
  h5+p,
  h6+p {
    margin-top: 0;
  }

  // TODO: Get better selector, lookup remark docs for footnote
  sup>a {
    text-decoration: none;

    &:after {
      content: "]";
      color: inherit;
    }

    &:before {
      content: "[";
      color: inherit;
    }
  }
}

figure {
  padding: 1rem 16px;
  background-color: var(--background-secondary);
  margin: 0;
  border-radius: 8px;

  img {
    border-radius: 0.5rem;
    margin-bottom: 0.5rem;
    max-height: 80vh;
  }

  figcaption {
    width: 100%;
  }
}

// Figure numbers
article {
  counter-reset: fig-number;
}

figure {
  counter-increment: fig-number;
  display: flex;
  flex-direction: column;
  align-items: center;

  figcaption p {
    &:first-of-type {
      margin-top: 0.5rem;

      &::before {
        content: "Fig. " counter(fig-number) ": ";
      }
    }

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

// Sort out link for permalinking
article h2 {
  position: relative;

  &>a {
    border: 2.5px solid #c917a2;
    width: 1rem;
    height: 1rem;
    position: absolute;
    left: calc(-1rem - 8px);
    top: calc(50% - 0.5rem);

    &:hover {
      display: block;
    }
  }
}