article h2:not(:first-of-type) {
  margin-top: 60px;
  padding-top: 40px;
  border-top: 3px solid cornflowerblue;
}

article footer {
  color: #686868;
  font-size: 0.9rem
}

.anchor {
  color: #7b7b7b;
  border: none;
  margin: 0 0 0 4px;
}

.anchor:hover {
  color: cornflowerblue;
  border: inherit;
}
