---
---

@charset "UTF-8";

@import "colours";
@import "fonts";
@import "nav";

*,
*:before,
*:after {
  box-sizing: inherit;
  box-sizing: border-box;
}

body {
  font-family: $font-main;
  line-height: 1.6;
  text-align: left;
  text-rendering: optimizeLegibility;
  font-feature-settings: "kern";
  font-kerning: normal;
  word-wrap: break-word;
  overflow-wrap: break-word;
  background-color: var(--background-primary);
  color: var(--text-primary);
  padding: 0;
  margin: 0;
}

h1 {
  margin: 1em 0 0.5em 0;
  line-height: 1.2;
}

h1,
h2,
h3,
h4,
.date,
.page-footer {
  font-family: $font-heading;
  font-weight: 700;
}

/* Code */
tt,
pre,
code {
  font-family: $font-mono;
  font-size: 0.95em;
}