---
---

// Colours
@import "colours"; // Must be included for SCSS variables

// Table of contents
@import "toc";

@import "highlight";

blockquote {
  border-left: 8px solid var(--background-secondary);
  color: var(--text-secondary);
  padding: 8px 0px 8px 24px;
  margin: 0;
}

.anchor {
  color: var(--light-text-colour);
  border: none;
  margin: 0 0 0 5px;
  &:hover {
    color: var(--primary-accent);
    border: inherit;
  }
}

.tags {
  padding: 0;
  display: inline;
  > li {
    display: inline;
    > a {
      display: inline-block;
      margin-right: 5px;
      margin-bottom: 8px;
      padding: 5px 10px;
      text-decoration: none;
      border: 1px solid var(--text-secondary);
      border-radius: 4px;
      font-weight: normal;
      color: var(--text-secondary);
      &:hover {
        color: var(--text-primary);
      }
    }
  }
}

.post-meta {
  margin: 0;
  color: var(--text-secondary);
  font-size: 0.75em;
  display: flex;

  >div {
    margin-right: 20px;
  }
}

.fa-container {
  display: inline-block;
  width: 15px;
  font-size: 1.25em;
}

// Asides
aside {
  margin: 1em 0;
  border-left: 8px solid $cyan;
  padding: 0.5em 2em;
  line-height: 1.4;
  background-color: var(--background-secondary);

  &.warning {
    border-left: 8px solid $red;
  }
  
  &.hint {
    border-left: 8px solid $green;
  }
}

*[mathvariant="bold"] {
  font-weight: bold;
}
