---
import RevealLayout from "../layouts/RevealLayout.astro";

const title = "Presentation";
---

<RevealLayout title={title}>
  <section>Horizontal Slide</section>
  <section>
    <section>Vertical Slide 1</section>
    <section>Vertical Slide 2</section>
  </section>
</RevealLayout>
