---
layout: default
title: "Blog"
styles: "blog.css"
---

<h1 class="page-heading">Blog posts</h1>

{%- if paginator.posts.size > 0 -%}
  {%- for post in paginator.posts -%}
  <article class="post">
    <header>
      <h2 class="post-title">
        <a href="{{ post.url }}"> {{ post.title }} </a>
      </h2>

      <div class="post-meta">
        <div>
          <div class="fa-container">
            <i class="fa fa-calendar-o"></i>
          </div>

          {% include date.html date=post.date %}
        </div>

        <div itemprop="author" itemscope itemtype="http://schema.org/Person">
          <div class="fa-container">
            <i class="fa fa-user"></i>
          </div>

          <span class="p-author h-card" itemprop="name">
            {{ post.author | escape }}
          </span>
        </div>

        <div>
          {% include read_time.html content=content %}
        </div>
      </div>
    </header>

    <p class="excerpt">
      {{ post.excerpt | strip_html | truncatewords: 50 | replace: "...", " […]" }}
    </p>
  </article>
  {%- endfor -%}
{%- else-%}
  <p>
    There aren't any posts here at the moment for some reason, please check back
    another day.
  </p>
{%- endif -%}

{%- if paginator.total_pages > 1 -%}
  <div class="pagination">
    
    {%- comment -%} Previous page {%- endcomment -%}
    {%- if paginator.previous_page -%}
      <a href="{{ paginator.previous_page_path }}">&laquo; Prev</a>
    {%- else -%}
      <a class="inactive">&laquo; Prev</a>
    {%- endif -%}

    {%- comment -%} Show all possible pages and higlight active one {%- endcomment -%}
    {%- for page in (1..paginator.total_pages) -%}
      {%- if page == paginator.page -%}
      <a class="active" href="{{ site.paginate_path | relative_url | replace: ':num', page }}">{{ page }}</a>
      {%- elsif page == 1 -%}
        <a href="/blog">{{ page }}</a>
      {%- else -%}
        <a href="{{ site.paginate_path | relative_url | replace: ':num', page }}"
          >{{ page }}</a
        >
      {%- endif -%}
    {%- endfor -%}

    {%- comment -%} Next page {%- endcomment -%}
    {%- if paginator.next_page -%}
      <a href="{{ paginator.next_page_path }}">Next &raquo;</a>
    {%- else -%}
      <a class="inactive">Next &raquo;</a>
    {%- endif -%}
  </div>
{%- endif -%}
