---
const currentYear = new Date().getFullYear();

import Icon from "astro-icon";
---

<footer class="footer">
  <h2 class="screen-reader">Footer</h2>
  <div class="footer__content">
    <div>
      <p>
        (c) John Kilpatrick {currentYear}
        <a
          href="//github.com/rjkilpatrick/rjkilpatrick.github.io"
          rel="external">View source</a
        >
      </p>
    </div>
    <div>
      <nav>
        <ul class="social-icons">
          <li>
            <a rel="external" href="//github.com/rjkilpatrick">
              <Icon name="mdi:github" class="icon" />
            </a>
          </li>
          <li>
            <a rel="external" href="//twitter.com/rjkilpatrick1">
              <Icon name="mdi:twitter" class="icon" />
            </a>
          </li>
          <li>
            <a rel="external" href="//linkedin.com/in/rjkilpatrick">
              <Icon name="mdi:linkedin" class="icon" />
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</footer>

<style lang="scss">
  .footer {
    margin-top: 32px;
    padding: 0 2.5em;
    background: var(--background-secondary);
  }

  .footer__content {
    color: var(--text-primary);
    padding: 32px 0;
    font-size: 88%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    // > :first-child {
    //   text-align: left;
    // }
    // > :last-child {
    //   text-align: right;
    // }
  }

  .social-icons {
    list-style: none;
    display: flex;
    gap: 1.5em;

    a,
    a:visited {
      color: inherit;
    }
  }

  .icon {
    height: 2em;
    width: auto;
    display: block;
  }
</style>
