---
---

<footer class="page-footer">
  <ul>
    <li>
      Tweet: <a href="https://twitter.com/rjkilpatrick1">@rjkilpatrick1</a>
      <li>
        Github: <a href="https://github.com/rjkilpatrick">rjkilpatrick</a>
        <li><a href="/">Home</a></li>
        <li>
          Content is licensed under <a
            href="https://creativecommons.org/licenses/by/4.0/"
            rel="license">CC BY-4.0</a
          >.
        </li>
      </li>
    </li>
  </ul>
</footer>
