---
---

<footer class="page-footer">
  <ul>
    <li>
      Tweet: <a href="https://twitter.com/rjkilpatrick1">@rjkilpatrick1</a>
      <li>
        Github: <a href="https://github.com/rjkilpatrick">rjkilpatrick</a>
        <li><a href="/">Home</a></li>
        <li>
          Content is licensed under <a
            href="https://creativecommons.org/licenses/by/4.0/"
            rel="license">CC BY-4.0</a
          >.
        </li>
      </li>
    </li>
  </ul>
</footer>
<style lang="scss">
  .page-footer {
    margin-top: auto; // Push to bottom of page
    background: var(--background-secondary);
    color: var(--text-primary);
    padding: 20px;
    font-size: 88%;

    display: flex;
    flex-direction: row;
    justify-content: center;

    ul {
      display: flex;
      flex-flow: column wrap;
      padding: 0;
      margin: 0;
      justify-items: center;
      list-style-type: none;
    }

    li {
      text-align: center;
      padding: 5px;
    }
  }
</style>
