---
---

<nav class="page-navigation">
  <div class="modal">
    <ul class="modal-content">
      <li class="nav-item">
        <a href="#">Home</a>
      </li>
    </ul>
  </div>
  <button
    class="toggle-container"
    aria-expanded="false"
    aria-controls="menu"
    aria-label="Main Menu"
  >
    <span class="hamburger"></span>
  </button>
</nav>

<script type="text/javascript">
  const toggle = document.querySelector(".toggle-container");
  const modal = document.querySelector(".modal");
  const icon = document.querySelector(".hamburger");

  function toggleNav(event) {
    event.preventDefault();

    modal.classList.toggle("active");
    modal.style.display = modal.style.display === "flex" ? "none" : "flex";

    // Expand
    toggle.setAttribute(
      "aria-expanded",
      toggle.getAttribute("aria-expanded") == "true" ? "false" : "true"
    );

    icon.classList.toggle("active");
  }

  toggle.addEventListener("touchstart", toggleNav);
  toggle.addEventListener("click", toggleNav);
</script>
