---
export const links = [
  { title: "Home", url: "/" },
  { title: "Blog", url: "/post" },
  { title: "About", url: "/about" },
  { title: "Contact", url: "/contact" },
];
---

<nav class="page-navigation" role="navigation">
  <div class="modal">
    <ul class="modal-content">
      {
        links.map((link) => (
          <li class="nav-item">
            <a href={link.url}>{link.title}</a>
          </li>
        ))
      }
    </ul>
  </div>
  <button
    class="toggle-container"
    aria-expanded="false"
    aria-controls="menu"
    aria-label="Main Menu"
  >
    <span class="hamburger"></span>
  </button>
</nav>

<script type="text/javascript">
  const toggle = document.querySelector(".toggle-container");
  const modal = document.querySelector(".modal");
  const icon = document.querySelector(".hamburger");

  function toggleNav(event) {
    event.preventDefault();

    modal.classList.toggle("active");

    // Expand
    toggle.setAttribute(
      "aria-expanded",
      toggle.getAttribute("aria-expanded") == "true" ? "false" : "true"
    );

    icon.classList.toggle("active");
  }

  toggle.addEventListener("touchstart", toggleNav);
  toggle.addEventListener("click", toggleNav);
</script>
<style lang="scss">
  .page-navigation {
    // Aesthetics
    list-style-type: none;
    padding: 0;
    margin: 0;

    a {
      color: white;
      text-decoration: none;
    }
  }

  .toggle-container {
    position: fixed;
    top: 16px;
    right: 16px;
    width: 64px;
    height: 64px;

    z-index: 100;
  }

  .modal {
    text-align: center;
    font-size: 3rem;
    background-color: var(--background-secondary);

    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99;

    transform: translateY(-100vh);
    transition: transform ease-in-out 750ms;

    &.active {
      transform: translate(0);
    }
  }

  .modal-content {
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;

    a {
      display: block;
      width: inherit;
    }
  }

  .toggle-container {
    border: none;
    cursor: pointer;
    background-color: inherit;
    padding: 0; // Fix button depress moving the icon
  }

  .hamburger {
    background-color: var(--text-primary);
    &:hover {
      background-color: var(--text-emph);
    }
    transition: all 0.2s ease;
    border-radius: 50px;
    display: block;
    height: 8px;
    position: absolute;
    width: inherit;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    &::before,
    &::after {
      content: "";
      background-color: var(--text-primary);
      &:hover {
        background-color: var(--text-emph);
      }
      border-radius: 50px;
      display: block;
      height: 8px;
      left: 0;
      position: absolute;
      width: 100%;
      transition: all 0.2s ease;
    }

    &.active {
      background-color: #00000000;

      &::before {
        top: 0;
        transform: rotate(-45deg);
      }

      &::after {
        bottom: 0;
        transform: rotate(45deg);
      }
    }

    &::before {
      top: -20px;
    }

    &::after {
      bottom: -20px;
    }
  }

  .hamburger.active,
  .hamburger::before.active,
  .hamburger::after.active {
    background-color: var(--background-primary);
  }

  .nav-item > a:visited,
  .nav-item > a:link {
    color: var(--text-secondary);
    &:hover {
      color: var(--text-emph);
    }
  }
</style>
