---
const { tags } = Astro.props;
---

{
  tags ? (
    <div class="post-tags">
      {tags.map((tag) => (
        <a class="post-tag" href={`/tags/${tag}`}>
          #{tag}
        </a>
      ))}
    </div>
  ) : null
}

<style lang="scss">
  .post-tags {
    display: flex;
    gap: 1em;
    // font-size: 8px;
  }

  .post-tag {
    display: inline-block;
    white-space: nowrap;
    border-radius: 2em;
    line-height: 22px;
    color: var(--color-accent-fg);
    background-color: #ddf4ff;
    text-decoration: none;
    padding: 0.5em 1em;
  }
</style>
