{% raw %}
<!--
  Hi there!
  Checkout the source @ https://github.com/rjkilpatrick/rjkilpatrick.github.io
-->
{% endraw %}
<!DOCTYPE html>
<html lang="en-gb">

<head>
  {%- include head.html -%}
  {%- include common_style.html -%}

  {% comment %} Inline criticial (S)CSS {% endcomment %}
  <style type="text/css">
    {%- capture critical_scss -%}
      {%- include critical.scss -%}
    {%- endcapture -%}
    {{- critical_scss | scssify -}}
  </style>
</head>

<body>
  {% include nav.html %}

  <main class="content-wrapper" aria-label="Content">
    {{ content }}
  </main>

  {% include footer.html %}

  {% if page.latex %}
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.13.18/dist/katex.min.js"
      integrity="sha384-GxNFqL3r9uRJQhR+47eDxuPoNE7yLftQM8LcxzgS4HT73tp970WS/wV5p8UzCOmb"
      crossorigin="anonymous"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.13.18/dist/contrib/auto-render.min.js"
      integrity="sha384-vZTG03m+2yp6N6BNi5iM4rW4oIwk5DfcNdFfxkk9ZWpDriOkXX8voJBFrAO7MpVl"
      crossorigin="anonymous"></script>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        renderMathInElement(document.body, {
          delimiters: [
            {left: "$$", right: "$$", display: true},
            {left: "$", right: "$", display: false},
            {left: "\\(", right: "\\)", display: false},
            {left: "\\[", right: "\\]", display: true},
            {left: "\\begin{equation}", right: "\\end{equation}", display: true},
            {left: "\\begin{align}", right: "\\end{align}", display: true},
            {left: "\\begin{alignat}", right: "\\end{alignat}", display: true},
            {left: "\\begin{gather}", right: "\\end{gather}", display: true},
            {left: "\\begin{CD}", right: "\\end{CD}", display: true}
          ],
          throwOnError : false
        });
      });
    </script>
  {% endif %}
  {% if page.links %}
    <script type="text/javascript" defer src="/assets/js/links.js"></script>
  {% endif %}
</body>

</html>
