<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}

    {% comment %} Inline criticial (S)CSS {% endcomment %}
    <style type="text/css">
      {%- capture critical_scss -%}
        {%- include critical.scss -%}
      {%- endcapture -%}
      {{- critical_scss | scssify -}}
    </style>
  </head>

  <body>
    {% include nav.html %}

    <div id="big-splash">
      <div id="splash-overlay">
        <h1>John Kilpatrick</h1>
        <h2>Physics and Computers</h2>
        
        <ul class="social-icons">
          <li>
            <a href="https://github.com/rjkilpatrick">
              <i class="fa fa-github fa-3x"></i>
            </a>
          </li>
          <li>
            <a href="https://linkedin.com/in/rjkilpatrick">
              <i class="fa fa-linkedin fa-3x"></i>
            </a>
          </li>
          <li>
            <a href="https://exeter.ac.uk">
              <i class="fa fa-university fa-3x"></i>
            </a>
          </li>
          <li>
            <a href="https://twitter.com/rjkilpatrick1">
              <i class="fa fa-twitter fa-3x"></i>
            </a>
          </li>
          <li>
            <a href="https://www.kaggle.com/johnkilpatrick">
              <span class="fa fa-3x">k</span>
            </a>
          </li>
        </ul>

        <p>
          This is my virtual home on the w3. You can find my latest project, my
          research and what I've been doing in my free time.
        </p>
      </div>

      <div id="arrow-pointing-down">
        <a href="#content">
          <i class="fa fa-chevron-down"></i>
        </a>
      </div>
    </div>

    <main class="content-wrapper" id="content">
      {{ content }}
    </main>
  </body>
</html>
