---
layout: default
---

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <header>
    <h1>{{ page.title | escape }}</h1>

    <div class="post-meta">
      <div>
        {% include read_time.html content=content %}
      </div>

      <div>
        <div class="fa-container">
          <i class="fa fa-calendar-o"></i>
        </div>
        
        {% if post.last_modified_at %}
          Last modified:
          {{ post.last_modified_at }}
          Originally published:
        {% endif %}

        {% include date.html date=page.date %}
      </div>
      
      <div itemprop="author" itemscope itemtype="http://schema.org/Person">
        <span class="p-author h-card" itemprop="name">
          <div class="fa-container">
            <i class="fa fa-user"></i>
          </div>
          {{ page.author | escape }}
        </span>
      </div>

      {% if page.tags.size > 0 %}
        <div>
          <div class="fa-container">
            <i class="fa fa-tag"></i>
          </div>

          <ul class="tags">
            {% for tag in page.tags %}
              <li>
                <a href="/tags/#{{ tag }}"> {{ tag }} </a>
              </li>
            {% endfor %}
          </ul>
        </div>
      {% endif %}
    </div>
  </header>

  {{ content }}
  
</article>
