---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <header>
    <h1>
      {{ page.title | escape }}
    </h1>
    <i class="fa fa-clock-o"></i> Read time {% include read_time.html content=content %}
  </header>
  {{ content }}
  <footer>
    <p>
      <i class="fa fa-clock-o"></i>
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date_to_string }}</time>
      &#9679;
      <span itemprop="author" itemscope itemtype="http://schema.org/Person">
        <span class="p-author h-card" itemprop="name">
          {{ page.author | escape }}
        </span>
      </span>
      <ul>
        {% for tag in page.tags %}
        <li>
          <a href="/tags/{{ tag }}">{{ tag }}</a>
        </li>
        {% endfor %}
      </ul>
    </p>
  </footer>
</article>
