{% raw %}
<!--
  Hi there!
  Checkout the source @ https://github.com/rjkilpatrick/rjkilpatrick.github.io
-->
{% endraw %}
<!doctype html>
<html lang="en-gb">

<head>
    {% include head.html %}

    <link rel="stylesheet" href="/reveal.js/dist/reveal.css">
    <link rel="stylesheet" href="/reveal.js/dist/theme/white.css" id="theme">
</head>

<body>
    {{ content }}

    <!-- RevealJS -->
    <script src="/reveal.js/dist/reveal.js"></script>
    {% if page.latex %}
        <script src="/reveal.js/plugin/math/math.js"></script>
    {% endif %}
    <script>
        Reveal.initialize({
            controls: true,
            progress: true,
            slideNumber: true,
            {%- if page.latex -%}
                plugins: [
                    RevealMath.KaTeX
                ],
            {%- endif -%}
        });
    </script>
</body>

</html>
