---
import "../styles/global.scss";
import Navigation from "../components/Navigation.astro";

export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!--
  Hi there!
  Checkout the source @ https://github.com/rjkilpatrick/rjkilpatrick.github.io
 --><!DOCTYPE html>
<html lang="en-gb">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>{title}</title>

    <meta name="twitter:creator" content="rjkilpatrick1" />
    <meta name="yandex-verification" content="ab1e6cab6e467868" />

    <meta name="theme-color" content="hsl(359.6, 59%, 54%)" />
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <meta name="generator" content={Astro.generator} />

    <style lang="scss" is:inline>
      /* VERY important styles go here */
      html,
      body {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
      }

      *,
      *:before,
      *:after {
        box-sizing: inherit;
      }
    </style>
  </head>
  <body>
    <Navigation />
    <slot />
  </body>
</html>
<style is:global>
  :root {
    --accent: 124, 58, 237;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      #da62c4 30%,
      white 60%
    );
  }
  html {
    font-family: system-ui, sans-serif;
    background-color: #f6f6f6;
  }
</style>
