---
import PageLayout from "./PageLayout.astro";
import Tags from "../components/Tags.astro";
import "../styles/post.scss";

import "@fontsource/space-mono";

const { title, datePublished, tags } = Astro.props.frontmatter;
---

<PageLayout title={title}>
  <article class="post" itemscope itemtype="http://schema.org/BlogPosting">
    <header>
      <h1>{title}</h1>
      <p>
        <date datetime={datePublished} itemprop="datePublished">
          {
            new Date(datePublished).toLocaleDateString("en-gb", {
              weekday: "long",
              year: "numeric",
              month: "short",
              day: "numeric",
            })
          }
        </date>
        ⦁
        {"3 minute read."}
      </p>
      {tags ? <Tags tags={tags} /> : null}
    </header>
    <slot />
    <!--Comments on post using GitHub account-->
    <script
      src="https://utteranc.es/client.js"
      repo="rjkilpatrick/rjkilpatrick.uk"
      issue-term="pathname"
      label="comment"
      theme="preferred-color-scheme"
      crossorigin="anonymous"
      async
    ></script>
  </article>
</PageLayout>
