---
import BaseLayout from "./BaseLayout.astro";

import Analytics from "../components/Analytics.astro";
import Loading from "../components/Loading.astro";
import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";

import "../styles/post.scss";

export interface Props {
  title?: string;
}

const { title } = Astro.props;
---

<BaseLayout title={title}>
  <Loading />
  <Navigation />
  <main class="content-wrapper">
    <slot />
  </main>
  <Footer />
  <Analytics/>
</BaseLayout>
